.collegewise-com-by-html-to-design-free-version-31-10-2023-11-29-57-gmt-5-30,
.collegewise-com-by-html-to-design-free-version-31-10-2023-11-29-57-gmt-5-30 * {
  box-sizing: border-box;}
  img {
    max-width: 100%;
    height: auto;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

}
 { @media (max-width: 768px) 
}
.collegewise-com-by-html-to-design-free-version-31-10-2023-11-29-57-gmt-5-30 {
  width: 1920px;
  height: 2982px;
  position: relative;
}
.nav-navigation-navigation-menu-menu-item-menuitem-our-services {
  color: #ffffff;
  text-align: left;
  font: 700 17px/23.8px "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1224.02px;
  top: 34px;
  width: 118.91px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-navigation-navigation-menu-menu-item-menuitem {
  width: 10.3px;
  height: 22.39px;
  position: absolute;
  left: 1348.25px;
  top: 58.39px;
  transform: translate(0px, -22.39px);
  overflow: visible;
}
.nav-navigation-navigation-menu-menu-item-menuitem-resources {
  color: #ffffff;
  text-align: left;
  font: 700 17px/23.8px "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1390.55px;
  top: 34px;
  width: 97.79px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-navigation-navigation-menu-menu-item-menuitem2 {
  width: 10.3px;
  height: 22.39px;
  position: absolute;
  left: 1493.69px;
  top: 58.39px;
  transform: translate(0px, -22.39px);
  overflow: visible;
}
.nav-navigation-navigation-menu-menu-item-menuitem-about-us {
  color: #ffffff;
  text-align: left;
  font: 700 17px/23.8px "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1535.98px;
  top: 34px;
  width: 86.35px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-navigation-navigation-menu-menu-item-menuitem3 {
  width: 10.3px;
  height: 22.39px;
  position: absolute;
  left: 1627.7px;
  top: 58.39px;
  transform: translate(0px, -22.39px);
  overflow: visible;
}
.link {
  background: #ff8d47;
  border-radius: 5px;
  width: 203px;
  height: 44px;
  position: absolute;
  left: 1667px;
  top: 23.89px;
}
.talk-to-an-advisor {
  color: #ffffff;
  text-align: left;
  font: 700 16px "OpenSans-Bold", sans-serif;
  position: absolute;
  left: 16.91px;
  top: 11px;
  width: 169.5px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame {
  background: #ffffff;
  height: 2874px;
  position: absolute;
  right: -0.09px;
  left: 0.0947265625px;
  top: 0.22px;
}
.main {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 2124px;
  top: 113px;
  overflow: hidden;
}
.fondo-verde-menta-dobla-el-papel-de-pantalla-imagen-para-descarga-gratuita-pngtree-2 {
  width: 700px;
  height: 600px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.logo {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 300px;
  top: 200px;
}
.div-bnr-cont-pad {
  background: #ffffff;
  height: 293px;
  position: absolute;
  right: 1500.64px;
  left: -8px;
  top: 243px;
}
.heading-1-work-with-a-counselor {
  color: #293c6a;
  text-align: left;
  font: 400 44px/42px "Rokkitt-Regular", sans-serif;
  position: absolute;
  left: 36px;
  top: 42px;
  width: 433.65px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-1-online {
  color: #293c6a;
  text-align: left;
  font: 400 44px/42px "Rokkitt-Regular", sans-serif;
  position: absolute;
  left: 36px;
  top: 84px;
  width: 120.56px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.p {
  height: 52px;
  position: absolute;
  right: 36px;
  left: 36px;
  top: 130px;
}
.a-meeting-with-your-devmentor-counselor-is-just-a-click-away {
  color: #293c6a;
  text-align: left;
  font: 400 20px/26px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 524.89px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link2 {
  background: #34bd9c;
  border-radius: 5px;
  width: 200px;
  height: 44px;
  position: absolute;
  left: 36px;
  top: 202.5px;
}
.talk-to-an-advisor2 {
  color: #ffffff;
  text-align: center;
  font: 700 14px/14px "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 74.02px);
  top: 15px;
  width: 148.34px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-brn-btn {
  border-radius: 5px;
  border-style: solid;
  border-color: #293b69;
  border-width: 2px;
  width: 200px;
  height: 45px;
  position: absolute;
  left: 266px;
  top: calc(50% - -55.5px);
}
.watch-a-video {
  color: #293c6a;
  text-align: center;
  font: 700 14px/16px "OpenSans-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 70.48px);
  top: 14.5px;
  width: 111.32px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-btn-png {
  width: 17px;
  height: 17px;
  position: absolute;
  left: calc(50% - -48.47px);
  top: calc(50% - 8.5px);
  overflow: hidden;
}
.best-internet-providers-for-university-students-1 {
  width: 2000px;
  height: 626px;
  position: absolute;
  left: 617px;
  top: 0px;
}
.main2 {
  height: 126px;
  position: absolute;
  right: 487.37px;
  left: 414px;
  top: 769px;
}
.heading-5-ready-to-tackle-the-admissions-process {
  color: #293c6a;
  text-align: center;
  font: 600 60px/50px "Rokkitt-SemiBold", sans-serif;
  position: absolute;
  left: calc(50% - 509.32px);
  top: -9px;
  width: 1019.03px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link3 {
  background: #44ba9d;
  border-radius: 5px;
  width: 300px;
  height: 44px;
  position: absolute;
  left: calc(50% - 150.01px);
  top: 82px;
}
.main3 {
  background: #5a6164;
  height: 200px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 924px;
}
.div-span-4 {
  height: 107.19px;
  position: absolute;
  right: 1424px;
  left: 32px;
  top: calc(50% - 53.59px);
}
._26-000 {
  color: #349c77;
  text-align: left;
  font: 700 48px/67.2px "OpenSans-Bold", sans-serif;
  position: absolute;
  left: 101.73px;
  top: 21px;
  width: 178.65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-st-txt {
  width: 67.72px;
  height: 44px;
  position: absolute;
  left: calc(50% - -62.55px);
  top: calc(50% - 22.01px);
}
.students {
  color: #349c77;
  text-align: left;
  font: 400 16px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 65.38px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.admitted {
  color: #349c77;
  text-align: left;
  font: 400 16px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 22px;
  width: 68.02px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-span-42 {
  height: 107.19px;
  position: absolute;
  right: 960px;
  left: 496px;
  top: calc(50% - 53.59px);
}
._92 {
  color: #349c77;
  text-align: left;
  font: 700 48px/67.2px "OpenSans-Bold", sans-serif;
  position: absolute;
  left: 97.06px;
  top: 21px;
  width: 98.4px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-st-txt2 {
  width: 157.31px;
  height: 44px;
  position: absolute;
  left: calc(50% - 22.39px);
  top: calc(50% - 22.01px);
}
.of-students-accepted {
  color: #349c77;
  text-align: left;
  font: 400 16px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 156.05px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.to-their-top-3-schools {
  color: #349c77;
  text-align: left;
  font: 400 16px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 22px;
  width: 157.63px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-span-43 {
  height: 107.19px;
  position: absolute;
  right: 496px;
  left: 960px;
  top: calc(50% - 53.59px);
}
._23 {
  color: #349c77;
  text-align: left;
  font: 700 48px/67.2px "OpenSans-Bold", sans-serif;
  position: absolute;
  left: 109.86px;
  top: 21px;
  width: 82.53px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-st-txt3 {
  width: 147.56px;
  height: 44px;
  position: absolute;
  left: calc(50% - 25.44px);
  top: calc(50% - 22.01px);
}
.years-of-admissions {
  color: #349c77;
  text-align: left;
  font: 400 16px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 147.87px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.experience {
  color: #349c77;
  text-align: left;
  font: 400 16px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 22px;
  width: 82.44px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-span-44 {
  height: 107.19px;
  position: absolute;
  right: 32px;
  left: 1424px;
  top: calc(50% - 53.59px);
}
._9-of-10 {
  color: #349c77;
  text-align: left;
  font: 700 48px/67.2px "OpenSans-Bold", sans-serif;
  position: absolute;
  left: 70.39px;
  top: 21px;
  width: 155.76px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-st-txt4 {
  width: 153.27px;
  height: 44px;
  position: absolute;
  left: calc(50% - -8.33px);
  top: calc(50% - 22.01px);
}
.families-recommend {
  color: #349c77;
  text-align: left;
  font: 400 16px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 153.59px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.us-to-their-friends {
  color: #349c77;
  text-align: left;
  font: 400 16px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 22px;
  width: 132.8px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main4 {
  background: rgba(196, 196, 196, 0.2);
  height: 391.11px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1124px;
}
.div-span-12 {
  height: 295.11px;
  position: absolute;
  right: 48px;
  left: 48px;
  top: 48px;
}
.heading-6-meet-a-collegewise-online-admission-counselor {
  color: #293c6a;
  text-align: left;
  font: 400 44px/61.6px "Rokkitt-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 5px;
  width: 892.65px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.p2 {
  height: 67.17px;
  position: absolute;
  right: 362px;
  left: 362px;
  top: 61.59px;
}
.we-want-you-to-have-access-to-top-notch-admissions-advice-even-if-the-closest-devmentor-office-is-hundreds-or-thousands-of-miles-from-where-you-live-our-online-counselors-conduct-meetings-with-students-from-across-the-country-using-platforms-like-skype-and-zoom-the-best-part-you-won-t-have-to-leave-home-to-get-expert-admissions-advice-and-a-customized-college-application-plan {
  color: #293c6a;
  text-align: left;
  font: 400 16px/22.4px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1081.04px;
  height: 66.79px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.p3 {
  height: 67.17px;
  position: absolute;
  right: 362px;
  left: 362px;
  top: 144.77px;
}
.working-with-devmentor-online-means-that-you-ll-be-meeting-with-an-admissions-expert-our-online-counselors-have-worked-in-admissions-offices-across-the-country-at-universities-like-stanford-colorado-college-harvard-usc-and-columbia-as-long-as-you-have-a-working-computer-and-a-willing-student-our-online-counselors-will-partner-with-you-to-take-care-of-the-rest {
  color: #293c6a;
  text-align: left;
  font: 400 16px/22.4px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1092.86px;
  height: 66.78px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.p4 {
  height: 67.17px;
  position: absolute;
  right: 362px;
  left: 362px;
  top: 227.94px;
}
.and-don-t-worry-meeting-with-your-counselor-online-won-t-make-the-process-any-less-human-our-online-counselors-create-personal-bonds-with-their-students-over-the-course-of-many-meetings-and-texts-emails-and-phone-calls-your-counselor-will-work-closely-with-your-family-to-ensure-that-your-college-questions-never-go-unanswered {
  color: #293c6a;
  text-align: left;
  font: 400 16px/22.4px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1082.54px;
  height: 66.78px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main5 {
  background: #4fb49c;
  height: 480px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1545px;
}
.div-span-6 {
  height: 300.72px;
  position: absolute;
  right: 29px;
  left: 931px;
  top: calc(50% - 228px);
}
.heading-3-who-we-are {
  color: #293c6a;
  text-align: center;
  font: 400 44px/61.6px "Rokkitt-Regular", sans-serif;
  position: absolute;
  left: 48px;
  top: 53px;
  width: 239.5px;
  height: 50px;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis;
}
.at-devmentor-the-core-of-the-work-that-we-do-with-families-is-recognizing-that-this-isn-t-just-about-college {
  color: #293c6a;
  text-align: left;
  font: 400 16px/22.4px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 48px;
  top: 109.59px;
  width: 792.9px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.p5 {
  width: 864px;
  height: 67.17px;
  position: absolute;
  left: 48px;
  top: 147.98px;
}
.it-s-about-making-sure-our-students-know-what-classes-make-most-sense-for-them-and-their-goals-which-activities-will-allow-them-to-thrive-what-summer-opportunities-will-help-them-grow-and-how-college-fits-into-that-broader-picture-of-who-they-re-becoming {
  color: #293c6a;
  text-align: left;
  font: 400 16px/22.4px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 849.59px;
  height: 66.79px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a-college-counselor-at-their-best-helps-you-navigate-every-piece-of-that-journey-and-that-s-what-we-do-every-day {
  color: #293c6a;
  text-align: left;
  font: 400 16px/22.4px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 48px;
  top: 231.16px;
  width: 849.46px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.p6 {
  width: 864px;
  height: 67.17px;
  position: absolute;
  left: 48px;
  top: 269.55px;
}
.strong-our-counselors-receive {
  color: #293c6a;
  text-align: left;
  font: 400 16px/22.4px "-", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 829.81px;
  height: 66.78px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strong-our-counselors-receive-span {
  color: #293c6a;
  font: 700 16px/22.4px "OpenSans-Bold", sans-serif;
}
.strong-our-counselors-receive-span2 {
  color: #293c6a;
  font: 400 16px/22.4px "OpenSans-Regular", sans-serif;
}
.strong-our-counselors-receive-span3 {
  color: #293c6a;
  font: 700 16px/22.4px "OpenSans-Bold", sans-serif;
}
.strong-our-counselors-receive-span4 {
  color: #293c6a;
  font: 400 16px/22.4px "OpenSans-Regular", sans-serif;
}
.strong-our-counselors-receive-span5 {
  color: #293c6a;
  font: 700 16px/22.4px "OpenSans-Bold", sans-serif;
}
.strong-our-counselors-receive-span6 {
  color: #293c6a;
  font: 400 16px/22.4px "OpenSans-Regular", sans-serif;
}
.how-to-teach-students-about-thorny-issues-without-insinuating-your-own-views-essay-1 {
  width: 873px;
  height: 1000px;
  position: absolute;
  left: 0px;
  top: 0px;
}


.div-otr-ftr {
  background: #ffffff;
  height: 389.5px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 2362px;
}
.footer {
  height: 390px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: calc(50% - 194.75px);
  overflow: hidden;
}
.div-ftr-cl {
  width: 124.61px;
  position: absolute;
  left: 150.67px;
  bottom: 56.5px;
  top: 80px;
}
.nav-main-menu-list-item-link {
  height: 18.19px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.services {
  color: #293a68;
  text-align: left;
  font: 600 13px/18.2px "OpenSans-SemiBold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 57.8px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link-tutoring-test-prep {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 42.19px;
  width: 125px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link2 {
  height: 18.19px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 72.38px;
}
.wise-r-net {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 62.08px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link3 {
  height: 18.19px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 102.56px;
}
.runway {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 48.24px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link4 {
  height: 18.19px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 132.75px;
}
.privacy {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 43.24px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-hs-cos-wrapper-ftr-menu-2 {
  width: 94.95px;
  height: 253.5px;
  position: absolute;
  left: 576.63px;
  top: 80px;
}
.nav-main-menu-list-item-link-who-we-are {
  color: #293a68;
  text-align: left;
  font: 600 13px/18.2px "OpenSans-SemiBold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 83.1px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link-about {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 42.19px;
  width: 36.94px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link-our-counselors {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 72.38px;
  width: 95.3px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link-locations {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 102.56px;
  width: 58.32px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link-careers {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 132.75px;
  width: 47.18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link-media {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 162.94px;
  width: 37.83px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link-reviews {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 193.13px;
  width: 49.1px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link-partnerships {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 223.31px;
  width: 77.49px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-ftr-cl2 {
  width: 135.02px;
  position: absolute;
  left: 972.92px;
  bottom: 56.5px;
  top: 80px;
}
.free-advice {
  color: #293a68;
  text-align: left;
  font: 600 13px/18.2px "OpenSans-SemiBold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 79.13px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link5 {
  height: 18.19px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 42.19px;
}
.blog {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 27.05px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link-on-demand-webinars {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 72.38px;
  width: 135.32px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.resources {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 62.75px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.podcasts {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 54.43px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-main-menu-list-item-link6 {
  height: 18.19px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 162.94px;
}
.upcoming-events {
  color: #7f89a4;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 105.5px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-ftr-cl3 {
  width: 300px;
  position: absolute;
  left: 1409.28px;
  bottom: 56.5px;
  top: 80px;
}
.div-hs-cos-wrapper-ftr-cntnt {
  width: 300px;
  height: 152.94px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.heading-6-subscribe-to-our-blog {
  color: #293a68;
  text-align: left;
  font: 600 13px/18.2px "OpenSans-SemiBold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 160.41px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.p7 {
  height: 72.75px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 42.19px;
}
.be-the-first-to-know-when-our-college-admissions-and-testing-tips-are-shared-on-the-blog-we-respect-your-privacy-and-won-t-share-your-information {
  color: #293a68;
  text-align: left;
  font: 400 13px/18.2px "OpenSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 296.94px;
  height: 72.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-ftr-btn {
  width: 276.36px;
  height: 49px;
  position: absolute;
  left: 0px;
  top: 152.94px;
}
.div-hs-cos-wrapper-subscribe-btn {
  width: 129.09px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.link4 {
  background: #36a88c;
  border-radius: 3px;
  width: 125.09px;
  height: 49px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.subscribe {
  color: #ffffff;
  text-align: center;
  font: 600 13px/13px "OpenSans-SemiBold", sans-serif;
  position: absolute;
  left: 32px;
  top: 15px;
  width: 61.48px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-hs-cos-wrapper-gtin-btn {
  width: 147.27px;
  position: absolute;
  left: 129.1px;
  bottom: 0px;
  top: 0px;
}
.link5 {
  background: #2a9f91;
  border-radius: 3px;
  width: 143.27px;
  height: 49px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.get-in-touch {
  color: #ffffff;
  text-align: center;
  font: 600 13px/13px "OpenSans-SemiBold", sans-serif;
  position: absolute;
  left: 32px;
  top: 15px;
  width: 79.59px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
